*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    font-family: 'PT Sans', sans-serif;
}

header{
    background-color: #0084FD;
    width: 100%;
    height: 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px 20px ;
}

#bkgrd-header{
    display: none;
}

.logo{
    height: 80%;
    border: 1px solid red;
    display: flex;
    align-items: center;
}

.logo img{
    width: 100%;
}

nav{
    display: none;
}


    /* inizio main */


.feature{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 5% 10% 0% 10%;
    border: 1px solid red;
    gap: 1em;
    
}


.card-1{
    background-color: #B5DDFF;
    padding: 5% 10% 0% 10%;
    border-radius: 1em;
    display: flex;
    flex-direction: column;
    gap: 2em;
    flex-grow: 1;
}


.content{
    display: flex;
    flex-direction: column;
    gap: 2em;
    align-items: flex-start;
}


.content h2{
    color: #0084FD;
}


.content p{
    line-height: 2em;
    font-weight: bold;
    color: #596D7E;
    font-size: 80%;
}

.content a{
    background-color: #0084FD;
    text-decoration: none;
    color: white;
    display: flex;
    align-items: center;
    border-radius: 999rem 999rem;
    padding: 0.5em 30%;
    font-size: 4vw;
    gap: 10px;
    text-wrap: nowrap;
}




.feature figure{
    width: 90%;
}

.feature figure img{
    width: 100%;
    display: block;
}


.card-2{
    background-color: #B5DDFF;
    padding: 10%;
    border-radius: 1em;
    display: flex;
    flex-direction: column;
    gap: 2em;
}


.card-2 .content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


.card-2 .content p{
    text-align: center;
}

.card-2 figure{
    border: 1px solid green;
    display: flex;
    justify-content: center;
    height: 5em;
    width: 100%;
}

#dev{
    font-size: 7vw;
}


.strategic{
    display: flex;
    flex-direction: column;
    margin: 50px auto;
    padding: 70px 10% 70px 10%;
    background-color: #9792E4;
    gap: 25px;
}


.strategic-first{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 50px;
}



.planning-girl img{
    width: 100%;
    border: solid 1px red;
}


.strategic-content-first{
    display: flex;
    flex-direction: column;
    gap: 30px;
}


.strategic-content-first h2, .strategic-content-first p{
    color: white;
}


.strategic-second{
    display: flex;
    flex-direction: column;
    background-color: white;
    border-radius: 20px;
    padding: 5%;
    align-items: center;
}


.planning-boy img{
    width: 100%;
    border: solid 1px red;
}


.strategic-content-second{
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
    text-align: center;
}


.strategic-content-second h2{
    font-size: 7vw;
}



.strategic-content-second span{
    background-color: #9590E1;
    border-radius: 999rem 999rem;
    padding: 15px;
    display: flex;
}


.strategic-content-second p{
   line-height: 30px;
   font-style: italic;
}


/* start partners section */


.partner{
    padding: 5% 10%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 50px;
}


.partner-content{
    display: flex;
    flex-direction: column;
    border: solid 1px red;
    gap: 20px;
    text-align: center;
}



.partner-content span{
    font-weight: 600;
}


.partner-content h2{
    text-wrap: wrap;
    color: #9792E4;
}

.partner-content p{
    width: 80%;
    margin: 0 auto;
    line-height: 30px;
}


.partner-card{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 50px;
}



.partner1 img, .partner2 img, .partner3 img{
    width: 50vw;
    height: 50vw;
    border-radius: 999rem 999rem;
    object-fit: cover;
}



.partner1, .partner2, .partner3{
    display: flex;
    justify-content: center;
}


.card-single{
    background-color: #9792E4;
    border-radius: 2rem;
    padding: 30px 20px;
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 25px;
    line-height: 30px;
    color: white;
}



.card-single span{
    font-weight: bold;
}






/* start benefits section */



.benefits{
    background-color: #9792E4;
    padding: 10% 5%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 40px;
}


.benefits-cards{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 40px;
}




.benefits-title h2{
    color: white;
}



.benefits-card{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 15px;
    text-align: left;
    background-color: white;
    border-radius: 1rem;
    padding: 30px;
}



.benefits-card span{
    font-size: 50px;
    color: #9792E4;
    font-weight: bold;
}



.benefits-card h3{
    color: #9792E4;
    font-weight: bold;
}


.benefits-card p{
    line-height: 30px;
}






.benefits-card a{
    color: white;
    background-color: #9792E4;
    border-radius: 999rem 999rem;
    padding: 10px 50px;
    text-decoration: none;
    letter-spacing: 3px;
}


/* start about section */


.about-us{
    padding: 50px 30px;
    display: flex;
    flex-direction: column;
    gap: 30px;
}


.content-about{
    display: flex;
    flex-direction: column;
    gap: 30px;
    text-align: left;
}

.content-about h2{
    color: #9792E4;
    font-size: 2em;
}

.content-about p{
    line-height: 2em;
}


.info-about{
    display: flex;
    flex-direction: column;
    gap: 15px;
    align-items: flex-start;
    position: relative;
}


.info-about figure img{
    width: 100%;
    border-radius: 999rem 999rem;
}


.info-about figure{
    width: 150px;
    
}


.info-about p{
    color: #9792E4;
    font-weight: bold;
}



.info-about a{
    color: white;
    background-color: #9792E4;
    padding: 5px 10px;
    text-decoration: none;
    border-radius: 50px;
}




.info-about p{
    text-align: left;
    font-size: 1.5em;
}

.info-about figure i{
    font-size: 50px;
    color: #9792E4;
    position: absolute;
    left: 110px;
}







@media screen and (min-width: 481px) and (max-width: 768px){
     /* fix word "developer" size */
    #dev{
        font-size: initial;
    }
    /* ------- */


    .feature{
        flex-direction: row;
        flex-wrap: wrap;
        align-items: initial;
        justify-content: space-between;
        gap: 2%;
        row-gap: 1em;
        padding: 5% 5% 0% 5%;
    }

    .card-1{
        justify-content: space-between;
        flex-grow: 1;
        flex-basis: 60%;
        padding: 5% 5% 0% 5%;

    }

    .card-2{
        flex-basis: 32%;
        padding: 5%;
        flex-grow: 0;
    }


    .content p{
        font-size: 2vw;
    }

    .content h2{
        font-size: 2.5vw;
    }

    .content a{
        
        font-size: 2vw;
    }


     /* start partner section */


    .partner{
        padding: 5% 5%;
    }


    .partner1 img, .partner2 img, .partner3 img{
        width: 20vw;
        height: 20vw;
    }



    .card-single{
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }


    .card-content{
        text-align: left;
    }



    /* start benefits section */

   


    .benefits-cards{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        background-color: red;
        justify-content: space-between;
        gap: 20px;
        
    }

    .benefits-card{
        flex-basis: calc((100%/2) - (20px/2));
        
    }


    .about-us{
        flex-direction: row;
    }


}









@media screen and (min-width: 769px){
    /* fix word "developer" size */
    #dev{
        font-size: 2vw;
    }

    /* ------- */

    header{
        padding: 5px 15%;
    }

    .hamburger{
        display: none;
    }

    nav{
        display: flex;
        gap: 1em;
    }

    a{
        text-decoration: none;
        color: white;
    }

    ul{
        display: flex;
        list-style-type: none;
        gap: 2em;
        align-items: center;
        
    }

    #inizia{
        background-color: white;
        color: black;
        padding: 10px;
        border-radius: 999rem 999rem;
        font-weight: bolder;
    }

    .content p{
        font-size: 1vw;
    }

    .content h2{
        font-size: 2vw;
    }

    .content a{
        font-size: 1.5vw;
    }

   #inizia{
    font-size: 1vw;
    font-weight: initial;
   }


    .feature{
        flex-direction: row;
        flex-wrap: wrap;
        align-items: initial;
        justify-content: space-between;
        margin: 50px auto;
        width: 70%;
        padding: 0% 0% 0% 0%;
        gap: 0px;
        row-gap: 30px;
    }

    
    .ctphone{
        width: 50%;
    }

 
    .feature .phone{
        width: 45%;
        display: flex;
        align-items: flex-end;
    }


    .card-1{
        padding: 2% 2% 0% 2%;
        flex-direction: row;
        flex-basis: 66%;
        flex-grow: 0;
    }

    .card-2{
        padding: 2%;
        flex-basis: 32.5%;
        
    }

     /* strategic planning section  */

     .strategic{
        flex-direction: row;
        padding: 5% 5% 5% 5%;
        justify-content: center;
        gap: 65px;
     }

     .strategic-first{
        gap: 40px;
        width: 400px;
    }

     .planning-girl img{
        border: solid 1px red;
    }

    

    .strategic-second{
        width: 400px;
        height: 450px;
        padding: 2%;
        margin-top: 100px;  
    }

    .strategic-content-second h2{
        font-size: 1vw;
    }


    .planning-boy img{
        width: 150px;
        border: solid 1px red;
    }

    .strategic-content-first h2{
        text-wrap: nowrap;
    }


    /* start partner section */



    .partner{
        padding: 5% 0%;
        width: 70%;
        margin: 0 auto;
    }


    .partner1 img, .partner2 img, .partner3 img{
        width: 10vw;
        height: 10vw;
    }



    .card-single{
        flex-direction: row;
        
        align-items: center;
        width: 100%;
    }


    .card-content{
        text-align: left;
    }



    .partner-content{
        width: 100%;
    }

    .partner-content h2{
        font-size: 60px;
    }

    .partner-content p{
        font-size: 30px;
    }
    




    .benefits-cards{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
        gap: 20px;
        width: 70%;
        margin: 0 auto;
    }

    .benefits-card{
        flex-basis: calc((100%/3) - (40px/3));
        
    }

    .benefits-card a{
        
        padding: 1vw 3vw;
        letter-spacing: 3px;
    }


    .about-us{
        flex-direction: row;
        width: 70%;
        margin: 0 auto;
        padding: 5% 0%;
    }

    .info-about{
        width: 300px;

    }

}

